<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2t0MhEVJxvZC2FsmMlbOqP_FQBCv4zXw</string>
	<key>GCM_SENDER_ID</key>
	<string>1081879031108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rochak.shoesly</string>
	<key>PROJECT_ID</key>
	<string>shoesly-fd72b</string>
	<key>STORAGE_BUCKET</key>
	<string>shoesly-fd72b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081879031108:ios:cfc456443b3e0e8844bb11</string>
</dict>
</plist>